# Ambiente virtual
venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Arquivos de ambiente
.env

# Cache e builds
.cache/
dist/
build/

# Testes
.pytest_cache/

# SQLite (se usar futuramente)
*.db